from typing import Any

from tk_up.widgets import Frame_up
from tk_up.managerWidgets import ManagerWidgets_up

class TEMPLATE_NAME_WIDGET(Frame_up):

    # DONT REMOVE THIS
    ctx: dict[str, Any]
    manager_class: ManagerWidgets_up

    def __init__(self, context: dict, manager_class: ManagerWidgets_up, master, kw={"width":0, "height":0}):
        self.ctx = context.copy()
        self.manager_class = manager_class

        # Use 'self' in your widget
        Frame_up.__init__(self, master=master, width=kw["width"], height=kw["height"])

    # this function is call if you hide widget
    def disable(self) -> None:
        pass

     # this function is call if you show widget
    def enable(self) -> None:
        pass